#map {
  height: 100% !important;
  width: 100% !important;
}


@media (min-width: 992px) {
 #art-results-wrapper-map {
    width: 70%;
    #results-container {
      width: 100%
    }
  }
  #art-results-wrapper-map {
    width: 100%;
    .results-container {
      width: 100%;
    }
  }  
    #main-results-page-grid {
    display: flex;
    justify-content: space-around;
  }
  #map-wrapper {
    flex: 0 0 30% !important;
    height: 70vh !important;
  }
}

@media (min-width: 1200px) {
 #art-results-wrapper-map {
    width: 100%;
    .results-container {
    width: 100%
    }
  }
}

.nav-tabs > li > a { 
  color: $gold;
  font-weight: bold;
}

.filter {
  font-size: 16px;
  color: #333;
  border-color: #adadad
}
