    .cat-art {
    font-style: bold;
    color: #C2A476;
    margin-bottom: 0px;
    font-family: 'PT serif', serif;
  }

  h4 {
    margin-left: 20px;
    font-family: 'Cinzel', serif;
  }


// Lines
  .art-right hr{
    margin-top: 5px;
    margin-bottom: 5px;
    border-width: 3px;
    color: black;
  }

// Modal
.modal-artwork .modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightgallery{
  a{
    margin-top: 40px;
  }
}

.thumbnail {
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border: none;
  img {
    margin-right: 10px;
  }
}

.art-btns {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-artwork-container {
  padding-top: 50px;
  img {
    width: 100%;
  }
}