.card-exhibition{
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-position: center;
  i {
    font-size: 30px;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn-modify{
 position: absolute;
 bottom: 0;
 right: 0;
 background: #C2A476;
 color: white;
 text-decoration: none;
 padding: 10px;

  &:hover{
    color: white;
    background: #ccc;
    text-decoration: none;
  }
}

.title {
  margin-left: 20px;
  font-size: 25px ;
}

.btn-gestion{
  background: #ccc;
  opacity: 0.6;
  text-decoration: none;
  color: white;
  margin-left: 10px;

}
