.card-exhibition{
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-position: center;
  i {
    font-size: 70px;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.title {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 25px ;
}

.fa-cogs:before {
    color: white;

}
