
.chart {
  position:relative;
  margin:30px auto 0 auto;

}

.tag {
  width:100%;
  text-align:center;
  font-style: bold;
  position:absolute;
  top:15%;
  color:#C2A476;
}

.container-chart{
 margin-left: 30px;
 margin-bottom: 30px;
 display: flex;
 flex: 0 0 40% !important;
}


.container-chart{
 margin-left: 30px;
 margin-bottom: 30px;
 display: flex;
 flex: 0 0 60% !important;
}

.container-all{
 display: flex;
 flex-direction: column;
}

.col-xs-12{
  h2 {
      font-size: 27px;
      font-family: cinzel;
  }
}
