.sug {
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  p {
    color: white;
    font-size: 40px;
  }
}

.populaires{
  background-image: url("https://d32dm0rphc51dk.cloudfront.net/mv-PiT4eVEjWnihQeuGYog/tall.jpg");
}

.nouveautes{
  background-image: url("https://i.pinimg.com/originals/00/fa/79/00fa793deb2e9211d83ac1942f166c8a.jpg");
}

.ban-expo {
 position: relative;
 margin-bottom: 5px;
}
