.login{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: none;

  h2{
    margin-bottom: 50px;
  }
}

.form-inputs{
  border-radius: 8px;
}
