// Half page Form
@media (min-width: 992px) {
  #main-user-gallery-show {
    display: flex;
    justify-content: space-around;
    .left {
      width: 80%
    }
    .right {
      flex: 0 0 20%;
    }
  }
}

.table > tbody > tr > td {
  vertical-align: middle;
  font-size: 14px;
  text-transform: lowercase;
  .btn-create {
    font-size: 15px;
  }
}

.fa-trash {
  color: $red;
  font-size: 15px;
  margin-top: 5px;
  &:hover {
    color: #ccc;
  }
}

.fa-edit {
  color: $green;
  font-size: 15px;
  margin-top: 5px;
  &:hover {
    color: #ccc;
  }
}