// Half page Form
@media (min-width: 992px) {
  #main-user-gallery-show {
    display: flex;
    justify-content: space-around;
    .left {
      width: 80%
    }
    .right {
      flex: 0 0 20%;
    }
  }
}

.table > tbody > tr > td {
  vertical-align: middle;
}