
<% if params[:search_query] == "" %>
  <% @artworks = Artwork.where(published: true) %>
<% else %>
  <% @artworks = Artwork.where(published: true).global_search("%#{params[:search_query]}%") %>
<% end %>

<% if params["city"] == ""  && params["categories"] == [] %>
  <% @artworks %>
<% elsif params["city"] == "" %>
    <% @artworks = @artworks.select { |artwork| artwork.categories.ids.any?  { |i| params["categories"].map {|cat| cat.to_i}.include? i }  } %>
<% elsif params["categories"] == [] %>
  <% @artworks = @artworks.select { |artwork| artwork.gallery.city == params["city"]} %>
<% else %>
  <% @artworks = @artworks.select { |artwork| artwork.categories.ids.any?  { |i| params["categories"].map {|cat| cat.to_i}.include? i }}.select { |artwork| artwork.gallery.city == params["city"]} %>
<% end %>

<% @galleries = @artworks.map {|artwork| artwork.gallery} %>
<% @artists = @artworks.map {|artwork| artwork.artist} %>
<% @markers = @galleries.uniq.map do |gallery| %>
  <% {lat: gallery.latitude, lng: gallery.longitude  } %>
<% end %>


document.getElementById("search-render").innerHTML = "";

<%  if @artworks[0].nil? %>
  document.getElementById("search-render").insertAdjacentHTML("beforeend",   
  "<br><br><h4 class = 'text-center'>Aucun Résultat</h4><br><br>");
<% else %>
  document.getElementById("search-render").insertAdjacentHTML("beforeend",   
  "<%= j render 'shared/results', artworks: @artworks, galleries: @galleries, artists: @artists, markers: @markers %>");
<% end %>

document.getElementById('first-result-tab').click();
