<div id="index-page"></div>
<!-- Results Grid -->
<div class="title-galeries">
  <p> Search Results </p>
</div>

<div id="main-results-page-grid">
  <div class="wrapper-first" id="art-results-wrapper">
    <!-- Artwork card Result -->
    <div class="container" id="results-container">
      <div class="row">
        <% @artworks.each do |artwork| %>
          <div class="col-xs-12 col-md-6 col-lg-4">
            <%= render "shared/artwork_card", artwork: artwork %>
          </div>
        <% end %>
      </div>
    </div>
  </div> 
  <div class="wrapper-first" id="map-wrapper">
    <div
      id="map"
      style="
      height: 100vh;"
      data-markers="<%= @markers.to_json %>"
      ></div>
  </div>  
</div>  