<% require 'will_paginate/array' %>
<% if params[:page] == nil %>
  <% if params[:search_query] == nil %>
    <% @artworks = Artwork.where(published: true) %>
  <% elsif params[:search_query] == "" %>
    <% @artworks = Artwork.where(published: true) %>
  <% else %>
    <% @artworks = Artwork.where(published: true).global_search("%#{params[:search_query]}%") %>
  <% end %>

  <% if (params["city"] == nil || params["city"] == "")  && (params["category"] == nil || params["category"] == "" ) && (params["subcategory"] == nil || params["subcategory"] == "") %>
    <% @artworks %>
  <% elsif (params["city"] == nil || params["city"] == "") && (params["subcategory"] == nil || params["subcategory"] == "") %>
      <% @artworks = @artworks.select {|artwork| artwork.categories.ids.any?  { |i| Category.where(parent_id: params["category"]).map {|cat| cat.id}.include? i }  }  %>
  <% elsif (params["category"] == nil || params["category"] == "" ) %>
    <% @artworks = @artworks.select { |artwork| artwork.gallery.city == params["city"]} %>
  <% elsif (params["subcategory"] == nil || params["subcategory"] == "") %>
    <% @artworks = @artworks.select { |artwork| artwork.categories.ids.any?  { |i| Category.where(parent_id: params["category"]).map {|cat| cat.id}.include? i } }.select { |artwork| artwork.gallery.city == params["city"]} %>
  <% elsif(params["city"] == nil || params["city"] == "")%>
    <% @artworks = @artworks.select { |artwork| artwork.categories.ids.include? params["subcategory"].to_i} %>
  <% else %>
    <% @artworks = @artworks.select { |artwork| artwork.categories.ids.include? params["subcategory"].to_i}.select { |artwork| artwork.gallery.city == params["city"]} %>
  <% end %>

  <% @galleries = @artworks.map {|artwork| artwork.gallery}.paginate(:page => params[:page], :per_page => 9) %>
  <% @artists = @artworks.map {|artwork| artwork.artist}.paginate(:page => params[:page], :per_page => 9) %>
  <% @artworks = @artworks.paginate(:page => params[:page], :per_page => 9) %>
<% end %>


document.getElementById("search-render").innerHTML = "";


<%  if @artworks[0].nil? %>
  document.getElementById("search-render").insertAdjacentHTML("beforeend",   
  "<br><br><h4 class = 'text-center'>Aucun Résultat</h4><br><br>");
<% else %>
  $("#search-render").html("<%= j render 'shared/results', artworks: @artworks, galleries: @galleries, artists: @artists, hash: @hash %>");
<% end %>

document.getElementById('first-result-tab').click();
