<div class="card-artist">
  <div class="card-body" style="background-image: url(<%= cl_image_path(artist.photo.url(:cards)) %>)">
  </div>
  <div class="card-footer">
    <div class="card-title">
      <p> <%=artist.first_name%>, <%= artist.last_name %> </p>
    </div>
    <div class="controls">
      <a href="#"><i class=" black fas fa-heart"></i></a>
    </div>
  </div>
</div>
