<div class="card-art">

  <div class="card-body" style="background-image: url('https://www.thebroad.org/sites/default/files/art/koons_balloondog_blue_white_studio_web.jpg')">
  </div>

  <div class="card-footer">
    <div class="card-title">
      <p> Titre </p>
      <div class="card-desc">
        <p> Artist's name </p>
      </div>
    </div>
    <div class="controls">
      <a href="#"><i class="fas fa-heart"></i></a>
    </div>
  </div>

</div>
