<div class="card-artist">
  <div class="card-body" style="background-image: url('http://femmesdumaroc.com/wp-content/uploads/2018/02/Peinture-Nabil-Boudarqa-signe-de-perturbants-portraits-a-la-galerie-Thema.jpg')">
  </div>
  <div class="card-footer">
    <div class="card-title">
      <p> Nom, prénom </p>
    </div>
    <div class="controls">
      <a href="#"><i class="fas fa-heart"></i></a>
    </div>
  </div>
</div>
