<div class="card-art">
  <div class="card-body" style="background-image: url(<%= cl_image_path(exhibition.cover_photo.url(:cards)) %>)">
    <%= link_to "", exhibition_path(exhibition.id), class: "card-link" %>
  </div>
  <div class="card-footer">
    <div class="card-title">
      <p> <%= exhibition.name %> </p>
      <div class="card-desc">
        <p> <%= exhibition.start_date %> </p>
      </div>
    </div>

    <div class="controls">
      <a href="#"><i class="black fab fa-facebook"></i></a>
      <a href="#"><i class="black fab fa-twitter"></i></a>
      <a href="#"><i class="black fab fa-instagram"></i></a>
    </div>
  </div>
</div>
