  <!--[ footer ] -->
  <div class="footer">
    <div class="fields">

      <div class="cat">
        <p>À propos d'Artket</p>
          <div class="sub-cat">
            <p>Comment ca marche?</p>
          </div>
      </div>

      <div class="cat">
        <p>Galeries</p>
          <div class="sub-cat">
            <p>Devenir membre</p>
          </div>
      </div>

      <div class="cat">
        <p>Services</p>
          <div class="sub-cat">
            <p>Expertise</p>
            <p>Photos Pro</p>
          </div>
      </div>

      <div class="cat">
        <p>Contact</p>
      </div>

      <div class="cat">
        <p>CGU</p>
      </div>

    </div>
  </div>
