<div class="card-art">
  <div class="card-body" style="background-image: url('https://storage.gra1.cloud.ovh.net/v1/AUTH_10e1a9235c63431c95e5b84a247830db/prod/gallery/1630_1_s.jpg')">
  </div>
  <div class="card-footer">
    <div class="card-title">
      <p> KRENO </p>
      <div class="card-desc">
        <p> Casablanca </p>
      </div>
    </div>
    <div class="controls">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>
