<div class="card-art">
  <div class="card-body" style="background-image: url('https://d7hftxdivxxvm.cloudfront.net/?resize_to=fill&src=https%3A%2F%2Fd32dm0rphc51dk.cloudfront.net%2FlNrF2bGV1AXGyQ0xqE6oJw%2Flarger.jpg&width=800&height=450&quality=80')">
  </div>
  <div class="card-footer">
    <div class="card-title">
      <p> KRENO </p>
      <div class="card-desc">
        <p> Casablanca </p>
      </div>
    </div>
    <div class="controls">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>
