<!-- Large Modal Target -->
<div class="modal fade modal-photo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg modal-round" role="document">
    <div class="modal-content modal-round">
      <div class="background-grey">
       <div class="title-galeries">
        <%= image_tag ("ArtKet.svg"),  style: "width: 150px;" %>
        <p> Photo Pro </p>
        </div>
      </div>
      <div class="wrap-text">
        <div class="modal-width">
        <p>
          Donnez à vos oeuvres la meilleur représentation possible grâce aux services d’un photographe professionnel qui pourra organiser une séance directement dans votre galerie. 

          Contactez nous afin de vous mettre en relation avec l’un de nos photographes partenaires.
        </p>
        </div>
      </div>

    </div>
  </div>
</div>
