<!-- Large Modal Target -->
<div class="modal fade modal-nous" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg modal-round" role="document">
    <div class="modal-content modal-round">
      <div class="background-grey">
       <div class="title-galeries">
        <%= image_tag ("ArtKet.svg"),  style: "width: 150px;" %>
        <p> Qui Sommes Nous? </p>
        </div>
      </div>
      <div class="wrap-text">
        <div class="modal-width">
        <p>
          Artket est une plateforme de mise en relation entre les galeries et les amateurs d’art. Nous avons pour but de faciliter autant que possible l’acquisition de nouvelles oeuvres et d’encourager les nouveaux collectionneurs à découvrir de nouveaux talents à la mesure des budgets. 

          Grâce à notre plateforme les galeries seront en mesure de toucher une clientèle plus large et plus variée, et de garder un oeil sur les préférences de leurs utilisateurs. Artket souhaite également promouvoir les évenements culturels et de donner de la visibilité aux collections institutionnelles.
        </p>
        </div>
      </div>

    </div>
  </div>
</div>
