<!-- Large Modal Target -->
<div class="modal fade modal-expertise" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg modal-round" role="document">
    <div class="modal-content modal-round">
      <div class="background-grey">
       <div class="title-galeries">
        <%= image_tag ("ArtKet.svg"),  style: "width: 150px;" %>
        <p> Expertise </p>
        </div>
      </div>
      <div class="wrap-text">
        <div class="modal-width">
        <p>
          Vous avez besoin de faire expertiser vos oeuvres? 

          Nous pouvons vous fournir une expertise gratuite qui vous donnera un meilleur aperçu de la valeur de vos oeuvres. Si vous souhaitez les mettre en vente nous pourrons également vous mettre en relation avec des galeries spécialisées.
        </p>
        </div>
      </div>

    </div>
  </div>
</div>
