<div class="full-height">

<!-- Banner -->
  <div class="info-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= image_path('comment-marche.png') %>);">

    <div class="title-galeries">
      <%= image_tag ("ArtKet.svg"),  style: "width: 150px;" %>
      <p> Comment ça marche? </p>
    </div>
    <div class="nav-links">
      <ul class="list-inline">
        <li>
          <a role="button" data-toggle="collapse" href="#decouvrir" aria-expanded="false" aria-controls="decouvrir" data-parent="#accordion">
          Découvrir
          </a>
        </li> 
        
        <li>
            <a data-toggle="collapse" href="#collectionner" aria-expanded="false" aria-controls="collectionner" data-parent="#accordion">
          Collectionner
          </a>
        </li>

        <li>
            <a data-toggle="collapse" href="#partager" aria-expanded="false" aria-controls="partager" data-parent="#accordion">
          Partager
          </a>
        </li>

      </ul>
    </div>
  </div>

<!-- Accordeon with Text -->
  <div class="container">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default no-style">
        <div id="decouvrir" class="panel-collapse collapse in" role="tabpanel">
          <div class="panel-body no-style">
            <div class="title-galeries small">
              <p> Découvrir </p>
            </div>
            <div class="wrap-text">
              
              <p>
                Parcourez une large séléction d’oeuvres présentées par les galeries marocaines. Découvrez les artistes et les styles émergents ainsi que les oeuvres des grands maitres de la peinture marocaine et internationale. 

                Recherchez les oeuvres de vos artistes favoris à travers l’ensemble des galeries partenaires, vous pourrez ensuite filtrer en fonction de votre ville ou d’un style particulier. Vous pouvez également découvrir l’ensemble des oeuvres d’un style qui vous intéresse. 

                Renseignez vous directement sur les oeuvres qui vous intéressent grâce au chat accessible depuis la page contact des galeries.
              </p>

            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default no-style">
        <div id="collectionner" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body no-style">
            <div class="title-galeries small">
              <p> Collectionner </p>
            </div>
            <div class="wrap-text">
              
              <p>
                Constituez votre collection virtuelle composée de vos oeuvres, vos artistes et vos galeries favorites que vous pouvez retrouver dans votre espace collectionneur.
              </p>

            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default no-style">
        <div id="partager" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body no-style">
            <div class="title-galeries small">
              <p> Partager </p>
            </div>
            <div class="wrap-text">
              
              <p>
                Partagez vos coups de coeurs sur les réseaux et boostez la popularité de vos galeries et artistes favoris.
              </p>

            </div>
        </div>
      </div>
    </div>
  </div>




</div>
