<div class="banner-home">
    <div class="banner-subtitle">
      <p>Nouveaux artistes en vogue</p>
    </div>

    <div class="banner-title">
      <p>COLLECTION PARTICULIÈRE</p>
    </div>

    <div class="presente">
      <p>Présentée par la galerie</p>
    </div>

    <div class="galerie-name">
      <p>THEMA</p>
    </div>
</div>

<!-- Galeries cards -->
  <div class="title-galeries">
  <p> Galeries </p>
  </div>
    <div class="container">
      <div class="row">
        <% 3.times do %>
          <% @galleries.each do |gallery| %>
          <div class="col-xs-12 col-md-6 col-lg-4">
            <%= render "shared/gallery_card", gallery: gallery %>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>

<hr>

<!-- Artistes à suivre  -->
  <div class="title-artistes">
    <p> Artistes à suivre </p>
  </div>
  <div class="container">
    <div class="row">
        <% @artists.first(3).each do |artist| %>
          <div class="col-xs-12 col-md-6 col-lg-4">
            <%= render "shared/artist_card", artist: artist %>
          </div>
        <% end %>
    </div>
  </div>

<hr>

<!-- Expositions -->
  <div class="container">
    <div class="ban-expo">
      <p>Suivre les expositions</p>
    </div>
  </div>

<hr>

<!-- Suggestions  style in home.scss-->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="sug populaires">
          <p>Populaire</p>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="sug nouveautes">
          <p>Nouveautés</p>
        </div>
      </div>
    </div>
  </div>
