<div class="full-height">
<!-- Home banner -->

  <a class="banner-home" href="/galleries/" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("173.jpg") %>);">
      <div class="banner-subtitle">
        <p>Nouveaux artistes en vogue</p>
      </div>

      <div class="banner-title">
        <p>COLLECTION PARTICULIÈRE</p>
      </div>

      <div class="presente">
        <p>Présentée par la galerie</p>
      </div>

      <div class="galerie-name">
        <p>THEMA</p>
      </div>
  </a>

<!-- Galeries cards -->
  <div class="title-galeries">
  <p> Galeries </p>
  </div>
    <div class="container">
      <div class="row">
        <% 3.times do %>
          <% @galleries.each do |gallery| %>
          <div class="col-xs-12 col-md-6 col-lg-4">
            <%= render "shared/gallery_card", gallery: gallery %>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>

<hr>

<!-- Artistes à suivre  -->
  <div class="title-artistes">
    <p> Artistes à suivre </p>
  </div>
  <div class="container">
    <div class="row">
        <% @artists.first(6).each do |artist| %>
          <div class="col-xs-12 col-md-6 col-lg-4">
            <%= render "shared/artist_card", artist: artist %>
          </div>
        <% end %>
    </div>
  </div>

<hr>

<!-- Expositions -->
  <div class="container">
    <div class="ban-expo">
        <%= link_to "", exhibitions_path, class: "card-link"%>
      <p>Toutes les expositions</p>
    </div>
  </div>

<!-- Suggestions  style in home.scss-->
<!--   <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="sug populaires">
          <p>Populaire</p>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="sug nouveautes">
          <p>Nouveautés</p>
        </div>
      </div>
    </div>
  </div> -->
</div>