.banner-home {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  color: white;
  height: 90vh;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: none;
  }
.banner-title p{
  font-size: 72px;
}

.galerie-name p{
  font-size: 72px;
}

.presente p{
  font-size: 36px;
}
.banner-subtitle p{
  font-size: 36px;
}
}

.ban-expo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: white;
    font-size: 50px;
  }
}

.suggestions {
  display: flex;
  justify-content: center;
  flex-direction: row;
}


.carrousel-controler {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-arrow {
  font-size: 30px;
}

.carousel-indicators li { 
  width: 60px;
  height: 2px;
  border-radius: 2px;
  border: 1px solid #aaaaaa
}

.carousel-indicators .active {
    margin: 0;
    width: 62px;
    height: 4px;
    background-color: #fff;
}

.item a:visited {
  color: white;
  text-decoration: none;
}