// Search bar
.form-control-btn-search{
display: flex;
align-item: left;
border-radius: 8px;
box-shadow: 2px;
width: 250px;
}

// Login button
.log-btn{
left: 87.43%;
right: 1.46%;
top: 25%;
bottom: 17.86%;
color: white;
background: #C2A476;
border-radius: 5px;
}
