// Search bar
.form-control-btn-search{
display: flex;
align-item: left;
border-radius: 8px;
box-shadow: 2px;
width: 250px;
}

// Login button
.log-btn{
  left: 87.43%;
  right: 1.46%;
  top: 25%;
  bottom: 17.86%;
  display: flex;
  justify-content: center;
  height: 30px;
  width: 100px;
  background: #C2A476;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 20px;
    &:hover{
      color: white;
      background: #ccc;
      text-decoration: none;
    }
}

// Gallery/show : Button for contact galleries
.btn-artwork{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1000px;
  width: 215px;
  height: 50px;
  background: #C2A476;
  align-self: flex-end;
  a {
    color: white;
    text-decoration: none;
  }

  &:hover{
    color: white;
    background: #ccc;
  }
}

.button {
  color:#C2A476;
}

.form-actions .btn{
  height: 40px;
  width: 100px;
  background: #C2A476;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 20px;
    &:hover{
      color: white;
      background: #ccc;
    }
}


