.sign-btn {
  width: 100%;
  margin-top: 10px;
  input[type="submit"] {
    width: 100%;
    margin-bottom: 5px;
    background-color: $gold;
    border-radius: 0;
  }
}
.signup {
  background-color: black;
}
.login {
  background-color: black;
}
.new_user {
  background-color:  #eee;
  padding: 20px;
  color: black;
  box-shadow: 1px 1px 2px #ccc;
  border-radius: 5px;
  margin: 10px;
  width: 40%;
  input {
    background-color: inherit;
    border: 1px solid black;
    color: black;
  }
}

.log-btn-custom {
  background-color: $gold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  line-height: 2.5;
  a {
    width: 100%;
    color: white;
    text-decoration: none;
  }  

}
.dark {
      background-color: rgba(194, 164, 118, 0.4);
  &:hover {
    background-color: rgba(194, 164, 118, 1);
  }
}

.forgot-password {
  text-align: center;
  a {
    color: black;
    &:hover {
      color: $blue;
      text-decoration: none; 
    }
  }
}