.footer-top {
    width: 100%;
    background-color: #3D3D3D;
    padding-top: 10px;
    font-family: 'Nanum Myeongjo', serif;
    position: relative;
    bottom: 0;
    color: white;
    padding: 30px;
    text-align: center;
    margin-top: 50px;
    li {
     &:hover {
      color: $gold;
     } 
    }
  }


.col-title {
  margin-bottom: 15px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-bottom {
  // border-top: 5px solid black;
  // border-bottom: 5px solid black;
  width: 100%;
  font-family: 'Nanum Myeongjo', serif;
  background-color: #fff;
  position: relative;
  bottom: 0;
  color: black;
  padding: 25px 50px 25px 50px;
  .flex-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    p {
      margin: 10px;
      &:hover {
        color: $gold;
      }
    }
  }
  .flex-footer-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    p {
      margin: 10px;
      a {
        font-size: 25px;
        color: black;
        &:hover {
          color: $gold;
        }
      }
    }
  }
}



.full-height {
  min-height: 100vh;
}